.contact-list > li {
    display: inline;
}
.delete-btn {
    display: inline;
    margin-inline: 10px;
    padding: 2px 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}